@using EPR.Payment.Portal.Common.Configuration
@using EPR.Payment.Portal.Common.Models
@using Microsoft.AspNetCore.Mvc.Routing;
@using EPR.Payment.Portal.Common.Enums;
@using EPR.Payment.Portal.Common.Extensions;

@model CompositeViewModel;

@{
    ViewData["Title"] = Localizer["payment_unsuccessful"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content">

    @if (Model.completePaymentViewModel.RequestorType == PaymentsRequestorTypes.Exporters.GetEnumDescription() || Model.completePaymentViewModel.RequestorType == PaymentsRequestorTypes.Reprocessors.GetEnumDescription())
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPayFailure/_FailureDetailsReprocessorExporterPartial.cshtml", Model);
    }
    else
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPayFailure/_FailureDetailsPartial.cshtml", Model);
    }

</main>