@using EPR.Payment.Portal.Common.Configuration
@using EPR.Payment.Portal.Common.Models
@using Microsoft.AspNetCore.Mvc.Routing;
@model CompositeViewModel;

@{
    ViewData["Title"] = "GovPay Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Payment successful
            </h1>
            <div class="govuk-panel__body">
                Your registration reference number is <br><strong>@Model.completePaymentViewModel.Reference</strong>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="govuk-body">
                We have sent an email confirmation to <a href="">@Model.completePaymentViewModel.Email</a>
            </p>
            <p></p>
            <h3 class="govuk-heading-s">What happens next</h3>
            <p></p>
            <p class="govuk-body">
                We will review your application and contact you about the outcome-this usually takes up to 2 weeks.
            </p>
            <p></p>
            <p class="govuk-body"><a href=@Model.dashboardConfiguration.BackUrl.Url>Return to dashboard</a></p>
            <p></p>
        </div>
    </div>
</main>