@using EPR.Payment.Portal.Common.Configuration
@using EPR.Payment.Portal.Common.Constants
@using EPR.Payment.Portal.Common.Enums
@using EPR.Payment.Portal.Common.Models
@using Microsoft.AspNetCore.Mvc.Routing;
@model CompositeViewModel;

@{
    ViewData["Title"] = Localizer["payment_successful"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="govuk-main-wrapper govuk-!-padding-top-8" id="main-content">
    @if (Model.completePaymentViewModel.RequestorType == RequestorType.Exporters.ToString() || Model.completePaymentViewModel.RequestorType == RequestorType.Reprocessors.ToString())
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPaySuccess/_SuccessDetailsReprocessorExporterPartial.cshtml", Model);
    }
    else
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/GovPaySuccess/_SuccessDetailsPartial.cshtml", Model);
    }
</main>